<!DOCTYPE html>
<html>
<head>
    <title>SoftNLabs</title>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    {% block stylesheet %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel = "stylesheet"
              href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <link href"{{ asset('css/materialize.css') }} rel="stylesheet"/>
        <link href"{{ asset('css/materialize.css') }} rel="stylesheet"/>
    {% endblock %}

</head>

<body class="#bdbdbd grey lighten-1">
<nav class="#01579b light-blue darken-4">
    <div class="nav-wrapper">
        <img src="{{asset('images/logoSoftNLabs.jpg')}}" alt="Logo"/>
        <ul class="right hide-on-med-and-down">
            <li style="padding-right:50px; padding-left: 50px"><a style="font-size: x-large">
                    {{ "now"|date("d/m/Y") }}
                </a></li>
            <li style="padding-right:50px; padding-left: 50px"><a style="font-size: x-large"> {{ app.session.get('NomAndPrenom') }}</a></li>
            <li style="padding-right:50px; padding-left: 50px"><a href="{{ path('index')}}" style="font-size: x-large">Se déconnecter</a></li>
        </ul>
    </div>
</nav>
{% block body %}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{asset('js/materialize.js')}}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{asset('js/jquery.dataTable.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/exporting.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/highcharts.js')}}"></script>

{% endblock %}

</body>
</html>
