{% extends 'base.html.twig' %}
{% block body %}

    {# Bouton de création d'un nouveau ticket#}
<div class="card-panel">
    <div class="row"  style="padding: 2%">
        <nav class="left-align-align" style="background-color: #039be5">
            <a class="center">
                <ul class="waves-effect">
                    <li class="Clients" style="padding-right:100px; padding-left: 100px">
                        <a style="font-size: x-large" href="{{ path('nouveauTicket')}}">Nouveau ticket</a>
                    </li>
                </ul>
            </a>
        </nav>
    </div>

    {# Tableau affichant les tickets du client en cours#}
    <div style="padding: 2%">
        <header style="font-size: x-large" class="centered">
            Tableau de vos tickets
        </header>

        <table id="example" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%">
            <thead>
            <tr style="font-size: larger" class="centered">
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Numéro du ticket: activate to sort colum ascending" aria-sort="descending">Numéro du ticket</th>
                <th>Titre du ticket</th>
                <th>Statut</th>
                <th>Consultant</th>
                <th>Consulter ticket</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.titre}}</td>
                    <td>{{ ticket.idstatut.definition }}</td>
                    <td>{{ ticket.idutilConsultant.nomandprenom| default("Aucun consultant défini pour le moment")}}</td>
                    <td>
                        <a href="{{ path('ticketConsultClient', {'id': ticket.id }) }}">Visualiser ticket</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


