{% extends 'base.html.twig' %}


{% block body %}

<div class="card-panel">

    <div class="row"  style="padding: 2%">
        <nav class="left-align-align" style="background-color: #039be5">
            <a class="center">
                <ul class="waves-effect">
                    <li class="Clients" style="padding-right:100px; padding-left: 100px">
                        <a style="font-size: x-large" href="{{ path('client')}}">Voir vos tickets</a>
                    </li>
                </ul>
            </a>
        </nav>
    </div>

    <h2>
        Créer un ticket
    </h2>

    {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}

    <div class="row">
        <div class="input-field col s2">
        </div>
        <div class="input-field col s8">
            <label for="appbundle_utilisateur_nom">Titre du ticket</label>
            {{ form_widget(form.titre,{'attr':{'class':'validate'}}) }}
        </div>
        <div class="input-field col s2">
        </div>
    </div>

    <div class="row">
        <div class="input-field col s2">
        </div>
        <div class="input-field col s8">
            <label for="appbundle_utilisateur_nom">Description</label>
            {{ form_widget(form.description,{'attr':{'class':'validate'}}) }}
        </div>
        <div class="input-field col s2">
        </div>
    </div>

    <div class="row">
        <div class="input-field col s3">
        </div>
        <div class="input-field col s2">
            <label for="appbundle_utilisateur_nom">Type de ticket</label><br/><br/>
            {{ form_widget(form.idcategorie,{'attr':{'class':'browser-default'}}) }}
        </div>
        <div class="input-field col s2">
            <label for="appbundle_utilisateur_nom">Solution concernée</label><br/><br/>
            {{ form_widget(form.idsysteme,{'attr':{'class':'browser-default'}}) }}
        </div>
        <div class="input-field col s2">
            <label for="appbundle_utilisateur_nom">Criticité</label><br/><br/>
            {{ form_widget(form.idcriticite,{'attr':{'class':'browser-default'}}) }}
        </div>
        <div class="input-field col s3">
        </div>
    </div>

    <div class="row">
        <div class="input-field col s3">
        </div>
        <div class="input-field col s6">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Fichiers</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Mettre ici une ou plusieurs pièce jointe">
                </div>
            </div>
        </div>
        <div class="input-field col s3">
        </div>
    </div>

    <div class="row">
        <div class="center-align">
            <button class="btn waves-effect waves-light" type="submit" name="enregistrer" >Envoyer
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>

    {{ form_end(form) }}

</div>








{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
    $('select').material_select();
    });
    </script>
{% endblock %}
{% endblock %}


