{% extends 'base.html.twig' %}


{% block body %}

    <div class="row"  style="padding: 2%">
        <nav class="left-align-align" style="background-color: #039be5">
            <a class="center">
                <ul class="waves-effect">
                    <li class="Clients" style="padding-right:100px; padding-left: 100px">
                        <a style="font-size: x-large" href="{{ path('softnlabs_client_part')}}">Retour</a>
                    </li>
                </ul>
            </a>
        </nav>
    </div>


    <div class = "card-panel">

        <div class="row">
            <div class="left-align">
                <h2>Création d'un nouvel utilisateur</h2>
            </div>
        </div>

        <div class="row">
            {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
            <div class="input-field col s6">
                <label for="appbundle_utilisateur_nom">Nom de famille</label>
                {{ form_widget(form.nom,{'attr':{'class':'validate'}}) }}
            </div>
            <div class="input-field col s6">
                <label for="appbundle_utilisateur_prenom">Prénom</label>
                {{ form_widget(form.prenom,{'attr':{'class':'validate'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="appbundle_utilisateur_mail">Adresse e-mail</label>
                {{ form_widget(form.mail,{'attr':{'class':'validate'}, }) }}
            </div>
            <div class="input-field col s6">
                <label for="appbundle_utilisateur_motpasse">Mot de passe</label>
                {{ form_widget(form.motpasse,{'attr':{'class':'validate'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="appbundle_utilisateur_role">Rôle</label>
                <br/>
                {{ form_widget(form.role,{'attr':{'class':'browser-default'}}) }}
            </div>
            <div class="input-field col s6">
                <label for="appbundle_utilisateur_idorg">Organisation</label>
                <br/>
                {{ form_widget(form.organisation,{'attr':{'class':'browser-default'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Nouveau client
                    <i class="material-icons right">account_circle</i>
                </button>
            </div>
        </div>

        {{ form_end(form) }}

    </div>

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function() {
                $('select').material_select();
                $(".dropdown-button").dropdown();
            });
        </script>
    {% endblock %}

{% endblock %}


