<!DOCTYPE html>
<html>
<head>
    <title>SoftNLabs</title>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    {% block stylesheet %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel = "stylesheet"
              href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    {% endblock %}

</head>

<body class="#bdbdbd grey lighten-1">

<div class="row">
</div>

{# Formulaire de connexion à l'application #}
<div class = "card-panel">
    <div class="row">
        <div class="center-align">
            <img src="{{asset('images/logo_snl.png')}}" alt="Logo SoftNLabs" width="150">
        </div>
    </div>
    <div class="row">
        {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
        <div class="input-field col s3">
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            {{ form_widget(form.mail,{'attr':{'class':'validate'},
                'label':'<i class="material-icons prefix">account_circle</i>'} ) }}
            <label for="appbundle_utilisateur_mail"><font size="4">Adresse e-mail</font></label>
        </div>
        <div class="input-field col s3">
        </div>
    </div>
    <div class="row">

        <div class="input-field col s3">
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">vpn_key</i>
            {{ form_widget(form.motpasse,{'attr':{'class':'validate'},
                'label':'<i class="material-icons prefix">vpn_key</i>'} ) }}
            <label for="appbundle_utilisateur_motpasse"><font size="4">Mot de passe</font></label>
        </div>
        <div class="input-field col s3">
        </div>
    </div>

    <div class="row">
    <div class="input-field col s3">
    </div>
    <div class="input-field col s6">
        <div class="center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Se connecter
                <i class="material-icons right">arrow_forward</i>
            </button>
        </div>
    </div>
    <div class="input-field col s3">
    </div>
    </div>

    {{ form_end(form) }}
</div>


{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{asset('js/materialize.js')}}"></script>
{% endblock %}

</body>
</html>






