{% extends 'base.html.twig' %}


{% block body %}
    <div class="row" style="padding: 2%">
        <nav class="center-align" style="background-color: #039be5">
            <a class="center">
                <ul class="waves-effect">
                    <li class="Clients" style="padding-right:100px; padding-left:100px"><a style="font-size: x-large" href="{{ path('softnlabs_client_part')}}">Clients</a></li>
                    <li class="Tickets" style="padding-right:100px; padding-left:100px"><a style="font-size: x-large" href="{{ path('softnlabs_ticket_part')}}" >Tickets</a></li>
                    <li class="Statistiques" style="padding-right:100px; padding-left:100px; background-color: #2ab7a9"><a style="font-size: x-large" href="{{ path('softnlabs_statistique_part')}}">Statistiques</a></li>
                </ul>
            </a>
        </nav>
    </div>

   <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{{ path('softnlabs_statistique_part')}}">Bloquante</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('softnlabs_statistique_part')}}">Haute</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('softnlabs_statistique_part')}}">Moyenne</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('softnlabs_statistique_part')}}">Basse</a></li>
    </ul>
    <div style="padding-left: 4%;padding-right: 4%">
        <div class="navbar-fixed">
            <ul class="left hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Priorité<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function() {
                $('select').material_select();
                $(".dropdown-button").dropdown();
            });
        </script>
    {% endblock %}
{% endblock %}


