{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" style="padding: 2%">
        <nav class="center-align" style="background-color: #039be5">
            <a class="center">
                <ul class="waves-effect">
                    <li class="Clients" style="padding-right:100px; padding-left:100px"><a style="font-size: x-large" href="{{ path('softnlabs_client_part')}}">Utilisateurs</a></li>
                    <li class="Tickets" style="padding-right:100px; padding-left:100px; background-color: #2ab7a9"><a style="font-size: x-large" href="{{ path('softnlabs_ticket_part')}}" >Tickets</a></li>
                    <li class="Statistiques" style="padding-right:100px; padding-left:100px"><a style="font-size: x-large" href="{{ path('softnlabs_statistique_part')}}">Statistiques</a></li>
                </ul>
            </a>
        </nav>
    </div>

<div class = "card-panel">
    <table id="example" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%">
        <thead>
        <tr role="row">
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Nom du ticket: activate to sort colum ascending" style="width: 76px" aria-sort="descending">Société</th>
            <th>Client</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Statut</th>
            <th>Date de création</th>
            <th>Consultant</th>
        </tr>
        </thead>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.idutilClient.organisation.nom}}</td>
                <td>{{ ticket.idutilClient.nomAndPrenom }}</td>
                <td>{{ ticket.titre }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.idstatut.definition}}</td>
                <td>{{ ticket.tpsprisecompte | default("Ce ticket n'a pas encore été pris en compte") }}</td>
                <td>{{ ticket.idutilConsultant.nomandprenom| default("Aucun consultant défini pour le moment")}}</td>
                <td>
                    <a href="{{ path('ticketConsultSNL', {'id': ticket.id }) }}">Visualiser ticket</a>
                </td>
            </tr>
            <br/>
        {% endfor %}
    </table>

</div>
{% endblock %}




