{% extends 'base.html.twig' %}
{% block body %}
<div class = "card-panel">
    <div class="row" style="padding: 2%">
        <nav class="center-align" style="background-color: #039be5">
            <a class="center">
                <ul class="waves-effect">
                    <li class="Clients" style="padding-right:100px; padding-left:100px"><a style="font-size: x-large" href="{{ path('softnlabs_client_part')}}">Utilisateurs</a></li>
                    <li class="Tickets" style="padding-right:100px; padding-left:100px; background-color: #2ab7a9"><a style="font-size: x-large" href="{{ path('softnlabs_ticket_part')}}" >Tickets</a></li>
                    <li class="Statistiques" style="padding-right:100px; padding-left:100px"><a style="font-size: x-large" href="{{ path('softnlabs_statistique_part')}}">Statistiques</a></li>
                </ul>
            </a>
        </nav>
    </div>

    <div style="padding: 2%">
        <header style="font-size: x-large" class="centered">
            Tableau global des tickets
        </header>

            <table id="example" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%">
                <thead>
                <tr style="font-size: larger" class="centered">
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Societe: activate to sort colum ascending" aria-sort="descending">Société</th>
                <th>Client</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Date de création</th>
                <th>Date de prise en compte</th>
                <th>Consultant</th>
            </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.idutilClient.organisation.nom}}</td>
                        <td>{{ ticket.idutilClient.nomAndPrenom }}</td>
                        <td>{{ ticket.titre }}</td>
                        <td>{{ ticket.description }}</td>
                        <td>{{ ticket.idstatut.definition}}</td>
                        <td>{{ ticket.tpscreation | date("d/m/Y") }}</td>
                        {% if ticket.tpsprisecompte is null  %}
                        <td>Ce ticket n'a pas encore été pris en compte</td>
                        {% else %}
                        <td>{{ ticket.tpsprisecompte | date("d/m/Y") |default("Ce ticket n'a pas encore été pris en compte") }}</td>
                        {% endif %}
                        <td>{{ ticket.idutilConsultant.nomandprenom|default("Aucun consultant défini pour le moment")}}</td>
                        <td>
                            <a href="{{ path('ticketConsultSNL', {'id': ticket.id }) }}">Visualiser ticket</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}




