{% extends 'base.html.twig' %}


{% block body %}
    <div class="row" style="padding: 2%">
        <nav class="center-align" style="background-color: #039be5">
            <a class="center">
                <ul class="waves-effect">
                    <li class="Clients" style="padding-right:100px; padding-left:100px"><a style="font-size: x-large"
                                                                                           href="{{ path('softnlabs_client_part') }}">Utilisateurs</a>
                    </li>
                    <li class="Tickets" style="padding-right:100px; padding-left:100px"><a style="font-size: x-large"
                                                                                           href="{{ path('softnlabs_ticket_part') }}">Tickets</a>
                    </li>
                    <li class="Statistiques" style="padding-right:100px; padding-left:100px; background-color: #2ab7a9">
                        <a style="font-size: x-large" href="{{ path('softnlabs_statistique_part') }}">Statistiques</a>
                    </li>
                </ul>
            </a>
        </nav>
    </div>

    <div class="card-panel">
        <div class="row">
            <!-- début de l'entête permettant de sélectionner  les champs des statistiques-->
            {{ form_start(mon_formulaire, {'attr': {'novalidate':'novalidate'}}) }}
            <div class="col s12">
                <div class="input-field col s2 m4 l1"></div>
                <div class="input-field col s2">
                    <label for="appbundle_ticketStat_nom">Société</label>
                    <br/>
                    <br/>
                    {{ form_widget(mon_formulaire.nom, {'attr': {'class': 'validate'}}) }}
                </div>

                <div class="input-field col s2">
                    <label for="appbundle_ticketStat_definition">Année</label>
                    <br/>
                    <br/>
                    {{ form_widget(mon_formulaire.annee, {'attr': {'class': 'validate'}}) }}
                </div>

                <div class="input-field col s2">
                    <label for="appbundle_ticketStat_definition">Statut</label>
                    <br/>
                    <br/>
                    {{ form_widget(mon_formulaire.definition, {'attr': {'class': 'validate'}}) }}
                </div>

                <div class="input-field col s2">
                    <label for="appbundle_ticketStat_chaine">Criticite</label>
                    <br/>
                    <br/>
                    {{ form_widget(mon_formulaire.chaine, {'attr': {'class': 'validate'}}) }}
                </div>

                <div class="input-field col s2">
                    <label for="appbundle_ticketStat_chaine">Type</label>
                    <br/>
                    <br/>
                    {{ form_widget(mon_formulaire.categorie, {'attr': {'class': 'validate'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 ; center-align">
                <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">check</i>Lancer les statistiques</button>
            </div>
        </div>
        {{ form_end(mon_formulaire) }}

        <div class="row">
            <div class="input-field col s2 m4 l1"></div>
            <div id="container1" class="col s2"></div>
            <div id="container2" class="col s2"></div>
            <div id="container3" class="col s2"></div>
            <div id="container4" class="col s2"></div>
            <div id="container5" class="col s2"></div>
        </div>

    </div>
    <!--Partie contenant les tickets-->
    <div class="card-panel">
        <table id="example" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%">
            <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Nom du ticket: activate to sort colum ascending" style="width: 76px" aria-sort="descending">Société</th>
                <th>Client</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Date de prise en compte</th>
                <th>Consultant</th>
            </tr>
            </thead>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.idutilClient.organisation.nom}}</td>
                    <td>{{ ticket.idutilClient.nomAndPrenom }}</td>
                    <td>{{ ticket.titre }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.idstatut.definition}}</td>
                    <td>{{ ticket.tpsprisecompte | date("d/m/Y")  }}</td>
                    <td>{{ ticket.idutilConsultant.nomandprenom| default("Aucun consultant défini pour le moment")}}</td>
                    <td>

                        <a href="{{ path('ticketConsultSNL', {'id': ticket.id }) }}">Visualiser ticket</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function () {
                $('select').material_select();
                $(".dropdown-button").dropdown();
            });


            Highcharts.chart('container1', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Société'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Pourcentage',
                    colorByPoint: true,
                    data: {{(app.session.get('tableauOrganisation')|json_encode|raw)}}
                }]
            });

            Highcharts.chart('container2', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Année'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Pourcentage',
                    colorByPoint: true,
                    data: {{(app.session.get('tableauAnnnee')|json_encode|raw)}}
                }]
            });

            Highcharts.chart('container3', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Statut'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Pourcentage',
                    colorByPoint: true,
                    data: {{(app.session.get('tableauStatut')|json_encode|raw)}}
                }]
            });

            Highcharts.chart('container4', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Criticité'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Pourcentage',
                    colorByPoint: true,
                    data: {{(app.session.get('tableauCriticite')|json_encode|raw)}}
                }]
            });

            Highcharts.chart('container5', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Type'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Pourcentage',
                    colorByPoint: true,
                    data: {{(app.session.get('tableauType')|json_encode|raw)}}
                }]
            });
        </script>
    {% endblock %}
{% endblock %}


