{% extends 'base.html.twig' %}
{% block body %}

    <div class="card-panel">

        <h2>
            Ticket
        </h2>

        {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
        <div class="row">

            <div class="input-field col s2">
            </div>

            <div class="input-field col s4">
                <label for="appbundle_utilisateur_nom">Client</label><br/><br/>
                {{ form_widget(form.idutilClient,{'attr':{'class':'validate'}}) }}
            </div>

            <div class="input-field col s4">
                <label for="appbundle_utilisateur_nom">Société</label><br/><br/>
                <select disabled><option>{{ ticket.idutilClient.organisation.nom }}</option></select>
            </div>

            <div class="input-field col s2">
            </div>

        </div>

        <div class="row">
            <div class="input-field col s2">
            </div>
            <div class="input-field col s8">
                <label for="appbundle_utilisateur_nom">Titre du ticket</label>
                {{ form_widget(form.titre,{'attr':{'class':'validate'}}) }}
            </div>
            <div class="input-field col s2">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s2">
            </div>
            <div class="input-field col s8">
                <label for="appbundle_utilisateur_nom">Description</label>
                {{ form_widget(form.description,{'attr':{'class':'validate'}}) }}
            </div>
            <div class="input-field col s2">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
            </div>
            <div class="input-field col s2">
                <label for="appbundle_utilisateur_nom">Type de ticket</label><br/><br/>
                {{ form_widget(form.idcategorie,{'attr':{'class':'validate'}}) }}
            </div>
            <div class="input-field col s2">
                <label for="appbundle_utilisateur_nom">Solution concernée</label><br/><br/>
                {{ form_widget(form.idsysteme,{'attr':{'class':'validate'}}) }}
            </div>
            <div class="input-field col s2">
                <label for="appbundle_utilisateur_nom">Criticité</label><br/><br/>
                {{ form_widget(form.idcriticite,{'attr':{'class':'validate'}}) }}
            </div>
            <div class="input-field col s3">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
            </div>
            <div class="input-field col s3" id="madiv">
                <label for="appbundle_statut_definition">Statut actuel</label><br/><br/>
                {{ form_widget(form.idstatut)}}
            </div>
            <div class="input-field col s3">
                <label for="appbundle_utilisateur_nom">Consultant affecté</label><br/><br/>
                    {{ form_widget(form.idutilConsultant)}}
            </div>
            <div class="input-field col s3">
            </div>
        </div>

        <div class="row">
            <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="enregistrer" >Envoyer
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>

{% if isModalNecessary %}
        <!-- Modal Structure -->
        <div id="modal1" class="modal bottom-sheet">
            <div class="modal-content">
                <h4>Clôture ou annulation de ticket</h4>
                <p>Une justification et un temps de travail sont nécessaires pour toute clôture ou annulation de ticket</p>
                {{ form_widget(form.tpsresolution)}}
                {{ form_widget(form.justification)}}
            </div>
            <div class="row">
                <div class="center-align">
                    <button class="btn waves-effect waves-light" type="button" name="annuler" id="Cancel">Annuler
                        <i class="material-icons left">keyboard_arrow_left</i>
                    </button>
                    <button class="btn waves-effect waves-light" type="submit" name="enregistrer" >Envoyer
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
{% endif %}

    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
            {% if isModalNecessary %}
            $('.modal').modal();


            $("#Cancel").click(function(){
                $("#appbundle_ticket_idstatut").val("2");
                // re-initialize material-select
                $("#appbundle_ticket_idstatut").material_select();
                //$("#appbundle_ticket_idstatut").val("2");
                //$('#madiv ul[value=2]').attr('selected','selected');
                $("#modal1").modal('close');
            });

            $("#appbundle_ticket_idstatut").on('change','',function(){
                if($("#appbundle_ticket_idstatut option:selected").text() ===  "Cloturé"){
                    // Show input field
                    $("#modal1").modal('open');   //This changes display to block

                }else if($("#appbundle_ticket_idstatut option:selected").text() ===  "Annulé"){
                    // Hide input field
                    $("#modal1").modal('open');
                }else{
                    $("#modal1").modal('close');
                }
            });
            {% endif %}

        });

    </script>
{% endblock %}


